<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="Blackbaud.UAT.Core" version="1.0.1429.1" targetFramework="net452" xmlns="" />
  <package id="Blackbaud.UAT.SpecFlow.Selenium" version="1.0.1235.1" targetFramework="net452" xmlns="" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" xmlns="" />
  <package id="NUnit" version="2.6.7" targetFramework="net452" xmlns="" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" xmlns="" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" xmlns="" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" xmlns="" />
  <package id="SpecFlow" version="2.0.0" targetFramework="net452" xmlns="" />
</packages>